*

!*.py
!r1cs_scripts
!r1cs_scripts/*.py

!bij_encodings
!bij_encodings/*.py

!bij_encodings/cons_propagator
!bij_encodings/cons_propagator/*.py

!structural_analysis
!structural_analysis/*.py

!structural_analysis/graph_clustering
!structural_analysis/graph_clustering/*.py

!minizinc
!minizinc/*.mzn

!comparison
!comparison/*.py

!README.md
!.gitignore
!questions.txt