*

# parent directory
!zk_clustering_and_equivalence/
!zk_clustering_and_equivalence/Cargo.toml

!zk_clustering_and_equivalence/circuit_graphing/
!zk_clustering_and_equivalence/circuit_graphing/src/
!zk_clustering_and_equivalence/circuit_graphing/src/*.rs
!zk_clustering_and_equivalence/circuit_graphing/Cargo.toml

!zk_clustering_and_equivalence/utils/
!zk_clustering_and_equivalence/utils/src/
!zk_clustering_and_equivalence/utils/src/*.rs
!zk_clustering_and_equivalence/utils/Cargo.toml

!zk_clustering_and_equivalence/circuits_and_constraints/
!zk_clustering_and_equivalence/circuits_and_constraints/src/
!zk_clustering_and_equivalence/circuits_and_constraints/src/r1cs/
!zk_clustering_and_equivalence/circuits_and_constraints/src/r1cs/*.rs
!zk_clustering_and_equivalence/circuits_and_constraints/src/*.rs
!zk_clustering_and_equivalence/circuits_and_constraints/Cargo.toml

!zk_clustering_and_equivalence/clustering/
!zk_clustering_and_equivalence/clustering/src/
!zk_clustering_and_equivalence/clustering/src/*.rs
!zk_clustering_and_equivalence/clustering/Cargo.toml

!zk_clustering_and_equivalence/equivalence/
!zk_clustering_and_equivalence/equivalence/src/
!zk_clustering_and_equivalence/equivalence/src/*.rs
!zk_clustering_and_equivalence/equivalence/Cargo.toml

!clustering_and_equivalence\ \(stage\ 1\)/

!clustering_and_equivalence\ \(stage\ 1\)/README.md

!clustering_and_equivalence\ \(stage\ 1\)/*.py
!clustering_and_equivalence\ \(stage\ 1\)/r1cs_scripts
!clustering_and_equivalence\ \(stage\ 1\)/r1cs_scripts/*.py

!clustering_and_equivalence\ \(stage\ 1\)/circuits_and_constraints
!clustering_and_equivalence\ \(stage\ 1\)/circuits_and_constraints/*.py

!clustering_and_equivalence\ \(stage\ 1\)/circuits_and_constraints/r1cs
!clustering_and_equivalence\ \(stage\ 1\)/circuits_and_constraints/r1cs/*.py

!clustering_and_equivalence\ \(stage\ 1\)/circuits_and_constraints/acir
!clustering_and_equivalence\ \(stage\ 1\)/circuits_and_constraints/acir/*.py

!clustering_and_equivalence\ \(stage\ 1\)/utilities
!clustering_and_equivalence\ \(stage\ 1\)/utilities/*.py

!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis
!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/*.py

!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/cluster_trees
!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/cluster_trees/*.py

!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/clustering_methods

!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/clustering_methods/modularity
!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/clustering_methods/modularity/*.py

!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/clustering_methods/naive
!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/clustering_methods/naive/*.py

!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/clustering_methods/networkx
!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/clustering_methods/networkx/*.py

!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/utilities
!clustering_and_equivalence\ \(stage\ 1\)/structural_analysis/utilities/*.py

!clustering_and_equivalence\ \(stage\ 1\)/comparison
!clustering_and_equivalence\ \(stage\ 1\)/comparison/*.py

!clustering_and_equivalence\ \(stage\ 1\)/comparison_v2
!clustering_and_equivalence\ \(stage\ 1\)/comparison_v2/*.py

!clustering_and_equivalence\ \(stage\ 1\)/maximal_equivalence
!clustering_and_equivalence\ \(stage\ 1\)/maximal_equivalence/*.py

!clustering_and_equivalence\ \(stage\ 1\)/picus_emulator
!clustering_and_equivalence\ \(stage\ 1\)/picus_emulator/*.py

!clustering_and_equivalence\ \(stage\ 1\)/maximal_equivalence/subclassing
!clustering_and_equivalence\ \(stage\ 1\)/maximal_equivalence/subclassing/*.py

!clustering_and_equivalence\ \(stage\ 1\)/test_zips
!clustering_and_equivalence\ \(stage\ 1\)/test_zips/*.zip

!README.md
!.gitignore
!questions.txt