*

!*.py
!r1cs_scripts
!r1cs_scripts/*.py

!bij_encodings
!bij_encodings/*.py

!bij_encodings/preprocessing
!bij_encodings/preprocessing/*.py

!bij_encodings/reduced_encoding
!bij_encodings/reduced_encoding/*.py

!structural_analysis
!structural_analysis/*.py

!structural_analysis/cluster_trees
!structural_analysis/cluster_trees/*.py

!structural_analysis/clustering_methods

!structural_analysis/clustering_methods/modularity
!structural_analysis/clustering_methods/modularity/*.py

!structural_analysis/clustering_methods/naive
!structural_analysis/clustering_methods/naive/*.py

!structural_analysis/clustering_methods/networkx
!structural_analysis/clustering_methods/networkx/*.py

!structural_analysis/utilities
!structural_analysis/utilities/*.py

!deprecated
!deprecated/*

!deprecated/minizinc
!deprecated/minizinc/*.mzn

!deprecated/cons_propagator
!deprecated/cons_propagator/*.py

!deprecated/cluster_trees
!deprecated/cluster_trees/*.py

!deprecated/preprocessing
!deprecated/preprocessing/*.py

!comparison
!comparison/*.py

!comparison_v2
!comparison_v2/*.py

!README.md
!.gitignore
!questions.txt